body {
    margin: 0;
    background-color: #c9dfff;
}

nav {
    overflow: hidden;
    background-color: #1C3879;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a{
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 40px;
    text-decoration: solid;
    font-weight: bold;
    font-size: medium;
    border-bottom: 2px solid #1C3879;
}


nav a:hover{
    background: #607EAA;
    border-bottom: 2px solid #ffffff;
}

.main{
    padding-left: 15%;
    padding-bottom: 15%;
    padding-right: 15%;
    padding-top: 2%;
    margin-top: 50px;
    height: 1200px;
}

.header h1, h2{
    text-align: center;
    font-style: oblique;
}

h2 { 
    font-weight: 500;
}

.first-card{
    border: 5px solid #ffffff;
    padding-top: 25px;
    padding-bottom: 25px ;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.second-card{
    border: 5px solid #ffffff;
    padding-top: 25px;
    padding-bottom: 25px ;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.expense{
    display: flex;
    flex-direction: row;
}

.expense img{
    float: right;
    position: relative;
    top:15px;
    margin-right: 10px;
}

.expense h3{
    font-weight: 400;
    font-size: x-large;
}


.favorite{
    display: flex;
    flex-direction: row;
}

.favorite img{
    float: right;
    position: relative;
    top:15px;
    margin-right: 10px;
}

.favorite h3{
    font-weight: 400;
    font-size: x-large;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.row table, th, td{
    width: 60%;
    border: 2px solid #607EAA;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
}


.row-header{
    font-weight: 700;
}
.list{
    display:inline;
    text-align:left;
    font-style: oblique;
}

h5{
    margin-left: 10%;
    font-weight: 500;
    font-size: large;
}