body {
    margin: 0;
    background-color: #c9dfff;
}

nav {
    overflow: hidden;
    background-color: #1C3879;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a{
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 40px;
    text-decoration: solid;
    font-weight: bold;
    font-size: medium;
    border-bottom: 2px solid #1C3879;
}

nav a:hover{
    background: #607EAA;
    border-bottom: 2px solid #ffffff;
}

.main{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
    margin-top: 10px;
    height: 100%;
}

.score-box{
    border: 5px dashed #31496d;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

#score {
 color:rgb(15, 229, 90);
 margin-left: 10px;
 margin-right: 10px;
}

#inter{
    color:#192f4f;
    margin-left: 10px;
    margin-right: 10px;
}

#total{
    color:#192f4f;
    margin-left: 10px;
    margin-right: 10px;
}

#text{
    color:#192f4f;
    margin-left: 10px;
    margin-right: 10px;
}

.quiz-box{
    border: 5px solid #ffffff;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.question-box{
    display: flex;
    flex-direction: row;
}

#question{
    font-size: medium;
    font-style: oblique;
    font-weight: 600;
    text-align: center;
}

.face{
    border: 5px dashed #31496d;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}


.info-table table, th, td{
    width: 20%;
    border: 2px solid #607EAA;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

#op1, #op2, #op3,#op4{
    text-align: left;
}


@media (min-width:800px){

    .main{
        margin-left: 15%;
        margin-right: 15%;
    }
}



